/******************************
GENERAL
******************************/
page {background-image}
a {
  text-decoration: none;
}

body {font-family: 'Arimo', sans-serif;}

#wrapper {	 
	Background: Black; linear-gradient(grey, white);
	max-width: 940px;
	margin: 0 auto;}

/******************************
Header
******************************/
header {
	background-color: black;
	text-align: center}
h1 {
	font-family: 'Josefin Sans', sans-serif; 
	color: #fff;
	font-size: 2em;
	font-weight: normal;
	margin: 20px 0 0;
}
h1 {
	font-family: 'Josefin Sans', sans-serif; 
	color: #fff;
	font-size: 1em;
	font-weight: normal;
	margin: -5px 0 0;
}
/******************************
NAVIGATION
******************************/
#navpanel li a {background-color: linear-gradient(black, grey)}

nav li {float:inherit;
	margin:20;
	color: #fff;
	text-shadow: 02;
}

nav a:hover {color: black}
nav a.current {
	text-shadow: none;
	color: #bbb}
/******************************
Gallery
******************************/

#gallery {
	margin: 0;
	padding: 0;
	list-style: none
}
#gallery li {
	}
p {color: #eee }



/******************************
FOOTER
******************************/
footer p {color: #999}