/******************************
GENERAL
******************************/
page {background-image}
a {
  text-decoration: none !important;
}

body {font-family: 'Arimo', sans-serif;}
img {max-width: 100%;}

#wrapper {	 
	background-color: black);
	max-width: 940px;
	margin: 0 auto; 
	padding: 5%;}

/******************************
Header
******************************/
header {
	background-color: black;
	text-align: center}
h1 {
	font-family: 'Josefin Sans', sans-serif; 
	color: #fff;
	font-size: 2em;
	font-weight: normal;
	margin: 20px 0 0;
}
h2 {
	font-family: 'Josefin Sans', sans-serif; 
	color: #fff;
	font-size: 1em;
	font-weight: normal;
	margin: -5px 0 0;
}
/******************************
NAVIGATION
******************************/
nav {
	text-align: center;
	padding: 10px 0;
	width: 100%;
	}

nav ul {
	list-style: none;
	margin: 20 10px;
	padding: 0;
}

nav li {
	display: inline-block;
	margin: 0 10px;
	color: #fff;
}
nav a {
	font-weight: bold;
	padding: 5px 5px;
}
nav a:hover {color: black}
nav a.current {
	text-shadow: none;
	color: #bbb;
}

/******************************
Gallery
******************************/
section p {margin-top: -40px;
	clear: both;
	text-align: center;}
#gallery {
	margin: 0;
	padding: 0;
	list-style: none
}
#gallery li {
	float: left;
	width: 45%;
	margin: 2.5%;
	background-color: black;
	color: #fff;}

#gallery li a p {
	color: white;
	margin: 0;
	padding: 5%;
	font-size: small;}
#gallery li:hover {
	background-color: #bbb;
}
#gallery li:hover a p {color: black}


/******************************
FOOTER
******************************/
footer {
	font-size: 0.75em;
	text-align: right;
	padding-top: 30px;
	clear: both;
	color: #999}








